<!DOCTYPE html>
<html>
<head>
    <title>Neural Network - Dog Breed Predictor</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <nav>
        <a href="/">Main</a>
        <a href="/home">Home</a>
        <a href="/neural">Neural Network</a>
        <a href="/machine">Machine Learning</a>
    </nav>
    <div>
        <h1>Neural Network</h1>
        <p>A Neural Network is a type of machine learning model inspired by the way biological neural networks in the human brain process information. It's designed to recognize patterns, learn from data, and make predictions or decisions.

            A neural network consists of layers of nodes, also known as neurons, which are connected to each other in a network. The main components of a neural network are:
            
            Input Layer: The first layer, which takes in the raw data (e.g., an image, text, or numerical values).
            Hidden Layers: Layers between the input and output, where computations and transformations happen. These layers help the network learn complex patterns in the data.
            Output Layer: The final layer, which produces the network's prediction or decision.</p>
    </div>
</body>
</html>